/****** Object:  Table [dbo].[Lessons]    Script Date: 08/03/2026 1:36:24 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](200) NOT NULL,
	[LessonDescription] [nvarchar](max) NULL,
	[LessonContent] [nvarchar](max) NULL,
	[RequiredAbility] [float] NULL,
	[GradeLevel] [int] NOT NULL,
	[LessonType] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 08/03/2026 1:36:24 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[ModuleCode] [nvarchar](20) NULL,
	[CategoryMapping] [int] NULL,
	[OrderIndex] [int] NOT NULL,
	[TotalNodes] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nodes]    Script Date: 08/03/2026 1:36:24 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nodes](
	[NodeID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NULL,
	[NodeType] [nvarchar](20) NOT NULL,
	[NodeNumber] [int] NOT NULL,
	[Quarter] [int] NULL,
	[LessonTitle] [nvarchar](200) NULL,
	[LearningObjectives] [nvarchar](max) NULL,
	[ContentJSON] [nvarchar](max) NULL,
	[SkillCategory] [nvarchar](50) NULL,
	[EstimatedDuration] [int] NULL,
	[XPReward] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NodeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Module_NodeNumber] UNIQUE NONCLUSTERED 
(
	[ModuleID] ASC,
	[NodeNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 08/03/2026 1:36:24 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[NodeID] [int] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NULL,
	[OptionsJSON] [nvarchar](max) NULL,
	[CorrectAnswer] [nvarchar](500) NULL,
	[EstimatedDifficulty] [nvarchar](20) NULL,
	[SkillCategory] [nvarchar](50) NULL,
	[MediaURL] [nvarchar](500) NULL,
	[ReadingPassage] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((13)) FOR [TotalNodes]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Nodes] ADD  DEFAULT ((20)) FOR [XPReward]
GO
ALTER TABLE [dbo].[Nodes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Nodes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[QuizQuestions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QuizQuestions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[QuizQuestions]  WITH CHECK ADD FOREIGN KEY([NodeID])
REFERENCES [dbo].[Nodes] ([NodeID])
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD CHECK  (([NodeType]='FINAL_ASSESSMENT' OR [NodeType]='CORE_LESSON'))
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD CHECK  (([Quarter]>=(1) AND [Quarter]<=(4)))
GO
