USE [master]
GO
/****** Object:  Database [LiteRiseDB]    Script Date: 18/01/2026 2:45:45 pm ******/
CREATE DATABASE [LiteRiseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiteRiseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LiteRiseDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiteRiseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LiteRiseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiteRiseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LiteRiseDB]
GO
/****** Object:  User [laptopuser]    Script Date: 18/01/2026 2:45:45 pm ******/
CREATE USER [laptopuser] FOR LOGIN [laptopuser] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[GradeLevel] [int] NOT NULL,
	[Section] [nvarchar](20) NULL,
	[InitialAbility] [float] NULL,
	[CurrentAbility] [float] NULL,
	[TotalXP] [int] NULL,
	[CurrentStreak] [int] NULL,
	[LongestStreak] [int] NULL,
	[DateCreated] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ReadingTheta] [float] NULL,
	[SpeakingTheta] [float] NULL,
	[VocabularyTheta] [float] NULL,
	[SyntaxTheta] [float] NULL,
	[LastActivityDate] [date] NULL,
	[Nickname] [nvarchar](20) NULL,
	[Birthday] [date] NULL,
	[Gender] [nvarchar](20) NULL,
	[SchoolID] [int] NULL,
	[PreAssessmentCompleted] [bit] NULL,
	[PreAssessmentDate] [datetime] NULL,
	[PreAssessmentLevel] [int] NULL,
	[PreAssessmentTheta] [float] NULL,
	[PostAssessmentCompleted] [bit] NULL,
	[PostAssessmentDate] [datetime] NULL,
	[PostAssessmentLevel] [int] NULL,
	[PostAssessmentTheta] [float] NULL,
	[AssessmentStatus] [varchar](50) NULL,
	[LastLoginDate] [datetime] NULL,
	[TotalLoginCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacementResults]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacementResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SessionID] [int] NOT NULL,
	[AssessmentType] [varchar](20) NOT NULL,
	[CompletedDate] [datetime] NOT NULL,
	[FinalTheta] [float] NOT NULL,
	[PlacementLevel] [int] NOT NULL,
	[LevelName] [varchar](50) NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[CorrectAnswers] [int] NOT NULL,
	[AccuracyPercentage] [float] NOT NULL,
	[Category1Score] [float] NULL,
	[Category2Score] [float] NULL,
	[Category3Score] [float] NULL,
	[Category4Score] [float] NULL,
	[Category1Theta] [float] NULL,
	[Category2Theta] [float] NULL,
	[Category3Theta] [float] NULL,
	[Category4Theta] [float] NULL,
	[VocabularyScore] [float] NULL,
	[PhonologicalScore] [float] NULL,
	[ReadingScore] [float] NULL,
	[GrammarScore] [float] NULL,
	[TimeSpentSeconds] [int] NULL,
	[DeviceInfo] [varchar](255) NULL,
	[AppVersion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_AssessmentComparison]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_AssessmentComparison] AS
SELECT
    s.StudentID,
    s.FirstName,
    s.LastName,
    s.Nickname,
    s.GradeLevel,

    -- Pre Assessment
    pre.ResultID AS PreResultID,
    pre.CompletedDate AS PreAssessmentDate,
    pre.FinalTheta AS PreTheta,
    pre.PlacementLevel AS PreLevel,
    pre.LevelName AS PreLevelName,
    pre.AccuracyPercentage AS PreAccuracy,
    pre.TotalQuestions AS PreTotalQuestions,
    pre.CorrectAnswers AS PreCorrectAnswers,

    -- Post Assessment
    post.ResultID AS PostResultID,
    post.CompletedDate AS PostAssessmentDate,
    post.FinalTheta AS PostTheta,
    post.PlacementLevel AS PostLevel,
    post.LevelName AS PostLevelName,
    post.AccuracyPercentage AS PostAccuracy,
    post.TotalQuestions AS PostTotalQuestions,
    post.CorrectAnswers AS PostCorrectAnswers,

    -- Growth Metrics
    (post.FinalTheta - pre.FinalTheta) AS ThetaGrowth,
    (post.PlacementLevel - pre.PlacementLevel) AS LevelGrowth,
    (post.AccuracyPercentage - pre.AccuracyPercentage) AS AccuracyGrowth,

    -- Category Comparisons
    (post.Category1Score - pre.Category1Score) AS Category1Growth,
    (post.Category2Score - pre.Category2Score) AS Category2Growth,
    (post.Category3Score - pre.Category3Score) AS Category3Growth,
    (post.Category4Score - pre.Category4Score) AS Category4Growth,

    -- Status
    s.AssessmentStatus,
    CASE
        WHEN post.ResultID IS NOT NULL THEN 'Completed Both'
        WHEN pre.ResultID IS NOT NULL THEN 'Pre Only'
        ELSE 'Not Started'
    END AS ComparisonStatus

FROM dbo.Students s
LEFT JOIN dbo.PlacementResults pre ON s.StudentID = pre.StudentID AND pre.AssessmentType = 'PreAssessment'
LEFT JOIN dbo.PlacementResults post ON s.StudentID = post.StudentID AND post.AssessmentType = 'PostAssessment';
GO
/****** Object:  Table [dbo].[AssessmentItems]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Subcategory] [varchar](100) NULL,
	[SkillArea] [varchar](100) NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [varchar](50) NOT NULL,
	[OptionA] [nvarchar](500) NULL,
	[OptionB] [nvarchar](500) NULL,
	[OptionC] [nvarchar](500) NULL,
	[OptionD] [nvarchar](500) NULL,
	[CorrectAnswer] [nvarchar](200) NOT NULL,
	[DifficultyParam] [float] NOT NULL,
	[DiscriminationParam] [float] NOT NULL,
	[GuessingParam] [float] NULL,
	[GradeLevel] [int] NULL,
	[EstimatedTime] [int] NULL,
	[IsActive] [bit] NULL,
	[TimesAdministered] [int] NULL,
	[TimesCorrect] [int] NULL,
	[AverageResponseTime] [float] NULL,
	[AudioPromptURL] [nvarchar](500) NULL,
	[TargetPronunciation] [nvarchar](200) NULL,
	[PhoneticTranscription] [nvarchar](200) NULL,
	[MinimumAccuracy] [int] NULL,
	[PronunciationTips] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ReadingPassage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentResponses]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResponses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[SessionID] [int] NOT NULL,
	[AssessmentType] [varchar](20) NOT NULL,
	[SelectedAnswer] [nvarchar](200) NULL,
	[IsCorrect] [bit] NOT NULL,
	[StudentThetaAtTime] [float] NOT NULL,
	[ItemDifficulty] [float] NOT NULL,
	[ExpectedProbability] [float] NULL,
	[ResponseTime] [int] NULL,
	[QuestionNumber] [int] NOT NULL,
	[DeviceInfo] [varchar](255) NULL,
	[InteractionData] [nvarchar](max) NULL,
	[RespondedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ItemStatistics]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_ItemStatistics] AS
SELECT
    i.ItemID,
    i.Category,
    i.Subcategory,
    i.DifficultyParam AS ConfiguredDifficulty,
    i.DiscriminationParam,
    i.GuessingParam,
    i.TimesAdministered,
    i.TimesCorrect,
    CASE
        WHEN i.TimesAdministered > 0 THEN
            CAST(i.TimesCorrect AS FLOAT) / i.TimesAdministered
        ELSE NULL
    END AS EmpiricalPCorrect,
    i.AverageResponseTime,
    COUNT(DISTINCT r.StudentID) AS UniqueStudentsSeen,
    AVG(r.StudentThetaAtTime) AS AvgThetaWhenShown,
    STDEV(r.StudentThetaAtTime) AS StdDevThetaWhenShown
FROM dbo.AssessmentItems i
LEFT JOIN dbo.StudentResponses r ON i.ItemID = r.ItemID
GROUP BY
    i.ItemID, i.Category, i.Subcategory,
    i.DifficultyParam, i.DiscriminationParam, i.GuessingParam,
    i.TimesAdministered, i.TimesCorrect, i.AverageResponseTime;
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ActivityType] [nvarchar](100) NULL,
	[ActivityDetails] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[BadgeID] [int] IDENTITY(1,1) NOT NULL,
	[BadgeName] [nvarchar](100) NOT NULL,
	[BadgeDescription] [nvarchar](500) NULL,
	[BadgeIconURL] [nvarchar](500) NULL,
	[UnlockCondition] [nvarchar](500) NULL,
	[XPReward] [int] NULL,
	[BadgeCategory] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[GameResultID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[StudentID] [int] NULL,
	[GameType] [nvarchar](50) NOT NULL,
	[Score] [int] NOT NULL,
	[AccuracyPercentage] [float] NULL,
	[TimeCompleted] [int] NULL,
	[XPEarned] [int] NULL,
	[StreakAchieved] [int] NULL,
	[DatePlayed] [datetime] NULL,
	[LessonID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemText] [nvarchar](500) NOT NULL,
	[ItemType] [nvarchar](50) NOT NULL,
	[DifficultyLevel] [nvarchar](20) NOT NULL,
	[DifficultyParam] [float] NOT NULL,
	[DiscriminationParam] [float] NOT NULL,
	[GuessingParam] [float] NOT NULL,
	[CorrectAnswer] [nvarchar](255) NOT NULL,
	[AnswerChoices] [nvarchar](max) NULL,
	[Phonetic] [nvarchar](100) NULL,
	[Definition] [nvarchar](500) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[AudioURL] [nvarchar](255) NULL,
	[GradeLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonGameContent]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonGameContent](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[GameType] [nvarchar](50) NOT NULL,
	[ContentText] [nvarchar](500) NOT NULL,
	[ContentData] [nvarchar](max) NULL,
	[Difficulty] [float] NULL,
	[Category] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](200) NOT NULL,
	[LessonDescription] [nvarchar](max) NULL,
	[LessonContent] [nvarchar](max) NULL,
	[RequiredAbility] [float] NULL,
	[GradeLevel] [int] NOT NULL,
	[LessonType] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOTP]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOTP](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedAt] [datetime] NULL,
	[IPAddress] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PronunciationAttempts]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronunciationAttempts](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ExpectedWord] [nvarchar](255) NOT NULL,
	[RecognizedText] [nvarchar](255) NOT NULL,
	[Score] [int] NOT NULL,
	[AttemptDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PronunciationRecords]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronunciationRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[StudentID] [int] NULL,
	[Word] [nvarchar](200) NOT NULL,
	[ExpectedPronunciation] [nvarchar](500) NULL,
	[ActualPronunciation] [nvarchar](500) NULL,
	[AccuracyScore] [float] NULL,
	[FluencyScore] [float] NULL,
	[AudioURL] [nvarchar](500) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PronunciationScores]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronunciationScores](
	[ScoreID] [int] IDENTITY(1,1) NOT NULL,
	[ResponseID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[RecognizedText] [nvarchar](500) NULL,
	[Confidence] [float] NULL,
	[OverallAccuracy] [int] NOT NULL,
	[PronunciationScore] [float] NULL,
	[FluencyScore] [float] NULL,
	[CompletenessScore] [float] NULL,
	[PhonemeAccuracyJSON] [nvarchar](max) NULL,
	[ErrorPhonemes] [nvarchar](500) NULL,
	[AudioDuration] [int] NULL,
	[AudioQuality] [float] NULL,
	[BackgroundNoiseLevel] [float] NULL,
	[SpeechAPIProvider] [varchar](50) NULL,
	[APIResponseJSON] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[ItemID] [int] NULL,
	[StudentResponse] [nvarchar](500) NULL,
	[IsCorrect] [bit] NOT NULL,
	[TimeSpent] [int] NULL,
	[ThetaBeforeResponse] [float] NULL,
	[ThetaAfterResponse] [float] NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[SchoolID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](200) NOT NULL,
	[District] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBadges]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBadges](
	[StudentBadgeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[BadgeID] [int] NULL,
	[DateEarned] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentBadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[BadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProgress]    Script Date: 18/01/2026 2:45:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[LessonID] [int] NULL,
	[CompletionStatus] [nvarchar](20) NULL,
	[Score] [float] NULL,
	[AttemptsCount] [int] NULL,
	[LastAttemptDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPronunciationProgress]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPronunciationProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[AssessmentDate] [date] NOT NULL,
	[AverageAccuracy] [float] NOT NULL,
	[WordsAttempted] [int] NULL,
	[WordsPassed] [int] NULL,
	[MasteredPhonemes] [nvarchar](500) NULL,
	[ProblematicPhonemes] [nvarchar](500) NULL,
	[AccuracyImprovement] [float] NULL,
	[StreakDays] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSessionLogs]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSessionLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SessionType] [varchar](50) NOT NULL,
	[SessionTag] [varchar](100) NULL,
	[LoggedAt] [datetime] NOT NULL,
	[DeviceInfo] [varchar](255) NULL,
	[IPAddress] [varchar](50) NULL,
	[AdditionalData] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSessions]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SessionType] [nvarchar](50) NOT NULL,
	[InitialTheta] [float] NULL,
	[FinalTheta] [float] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TotalQuestions] [int] NULL,
	[CorrectAnswers] [int] NULL,
	[AccuracyPercentage] [float] NULL,
	[IsCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VocabularyWords]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VocabularyWords](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Definition] [nvarchar](500) NOT NULL,
	[ExampleSentence] [nvarchar](500) NULL,
	[Difficulty] [float] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[GradeLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssessmentItems_Category]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentItems_Category] ON [dbo].[AssessmentItems]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentItems_Difficulty]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentItems_Difficulty] ON [dbo].[AssessmentItems]
(
	[DifficultyParam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssessmentItems_Type]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentItems_Type] ON [dbo].[AssessmentItems]
(
	[QuestionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameResults_StudentID]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_GameResults_StudentID] ON [dbo].[GameResults]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LessonGameContent_LessonGame]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_LessonGameContent_LessonGame] ON [dbo].[LessonGameContent]
(
	[LessonID] ASC,
	[GameType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetOTP_Email_OTPCode]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetOTP_Email_OTPCode] ON [dbo].[PasswordResetOTP]
(
	[Email] ASC,
	[OTPCode] ASC
)
WHERE ([IsUsed]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PlacementResults_Date]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_PlacementResults_Date] ON [dbo].[PlacementResults]
(
	[CompletedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PlacementResults_Student]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_PlacementResults_Student] ON [dbo].[PlacementResults]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PlacementResults_Type]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_PlacementResults_Type] ON [dbo].[PlacementResults]
(
	[AssessmentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PronunciationScores_Item]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_PronunciationScores_Item] ON [dbo].[PronunciationScores]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PronunciationScores_Student]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_PronunciationScores_Student] ON [dbo].[PronunciationScores]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Responses_SessionID]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_Responses_SessionID] ON [dbo].[Responses]
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentProgress_StudentID]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_StudentProgress_StudentID] ON [dbo].[StudentProgress]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PronunciationProgress_Student]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_PronunciationProgress_Student] ON [dbo].[StudentPronunciationProgress]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentResponses_Item]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_StudentResponses_Item] ON [dbo].[StudentResponses]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentResponses_Session]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_StudentResponses_Session] ON [dbo].[StudentResponses]
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentResponses_Student]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_StudentResponses_Student] ON [dbo].[StudentResponses]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Students_Email]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_Students_Email] ON [dbo].[Students]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SessionLogs_Date]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_SessionLogs_Date] ON [dbo].[StudentSessionLogs]
(
	[LoggedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SessionLogs_Student]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_SessionLogs_Student] ON [dbo].[StudentSessionLogs]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SessionLogs_Tag]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_SessionLogs_Tag] ON [dbo].[StudentSessionLogs]
(
	[SessionTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SessionLogs_Type]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IDX_SessionLogs_Type] ON [dbo].[StudentSessionLogs]
(
	[SessionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestSessions_StudentID]    Script Date: 18/01/2026 2:45:46 pm ******/
CREATE NONCLUSTERED INDEX [IX_TestSessions_StudentID] ON [dbo].[TestSessions]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((0.25)) FOR [GuessingParam]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((30)) FOR [EstimatedTime]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((0)) FOR [TimesAdministered]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((0)) FOR [TimesCorrect]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT ((65)) FOR [MinimumAccuracy]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AssessmentItems] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Badges] ADD  DEFAULT ((0)) FOR [XPReward]
GO
ALTER TABLE [dbo].[GameResults] ADD  DEFAULT (getdate()) FOR [DatePlayed]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1.0)) FOR [DiscriminationParam]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0.25)) FOR [GuessingParam]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT ((1.0)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PasswordResetOTP] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetOTP] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PlacementResults] ADD  DEFAULT (getdate()) FOR [CompletedDate]
GO
ALTER TABLE [dbo].[PronunciationAttempts] ADD  DEFAULT (getdate()) FOR [AttemptDate]
GO
ALTER TABLE [dbo].[PronunciationRecords] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[PronunciationScores] ADD  DEFAULT ('Google Cloud Speech') FOR [SpeechAPIProvider]
GO
ALTER TABLE [dbo].[PronunciationScores] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Responses] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Schools] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Schools] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[StudentBadges] ADD  DEFAULT (getdate()) FOR [DateEarned]
GO
ALTER TABLE [dbo].[StudentProgress] ADD  DEFAULT ((0)) FOR [AttemptsCount]
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] ADD  DEFAULT ((0)) FOR [WordsAttempted]
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] ADD  DEFAULT ((0)) FOR [WordsPassed]
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] ADD  DEFAULT ((0)) FOR [StreakDays]
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[StudentResponses] ADD  DEFAULT (getdate()) FOR [RespondedAt]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [InitialAbility]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [CurrentAbility]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [TotalXP]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [CurrentStreak]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [LongestStreak]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [ReadingTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [SpeakingTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [VocabularyTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [SyntaxTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [PreAssessmentCompleted]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [PreAssessmentTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [PostAssessmentCompleted]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [PostAssessmentTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ('Not Started') FOR [AssessmentStatus]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [TotalLoginCount]
GO
ALTER TABLE [dbo].[StudentSessionLogs] ADD  DEFAULT (getdate()) FOR [LoggedAt]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [TotalQuestions]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [CorrectAnswers]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((0.5)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((4)) FOR [GradeLevel]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[GameResults]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[GameResults]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[LessonGameContent]  WITH CHECK ADD  CONSTRAINT [FK_LessonGameContent_Lessons] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[LessonGameContent] CHECK CONSTRAINT [FK_LessonGameContent_Lessons]
GO
ALTER TABLE [dbo].[PlacementResults]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PronunciationAttempts]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationAttempts_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PronunciationAttempts] CHECK CONSTRAINT [FK_PronunciationAttempts_Students]
GO
ALTER TABLE [dbo].[PronunciationRecords]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[PronunciationRecords]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PronunciationScores]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationScores_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[AssessmentItems] ([ItemID])
GO
ALTER TABLE [dbo].[PronunciationScores] CHECK CONSTRAINT [FK_PronunciationScores_Item]
GO
ALTER TABLE [dbo].[PronunciationScores]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationScores_Response] FOREIGN KEY([ResponseID])
REFERENCES [dbo].[StudentResponses] ([ResponseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PronunciationScores] CHECK CONSTRAINT [FK_PronunciationScores_Response]
GO
ALTER TABLE [dbo].[PronunciationScores]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationScores_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PronunciationScores] CHECK CONSTRAINT [FK_PronunciationScores_Student]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD FOREIGN KEY([BadgeID])
REFERENCES [dbo].[Badges] ([BadgeID])
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentPronunciationProgress]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationProgress_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentPronunciationProgress] CHECK CONSTRAINT [FK_PronunciationProgress_Student]
GO
ALTER TABLE [dbo].[StudentResponses]  WITH CHECK ADD  CONSTRAINT [FK_StudentResponses_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[AssessmentItems] ([ItemID])
GO
ALTER TABLE [dbo].[StudentResponses] CHECK CONSTRAINT [FK_StudentResponses_Item]
GO
ALTER TABLE [dbo].[StudentResponses]  WITH CHECK ADD  CONSTRAINT [FK_StudentResponses_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentResponses] CHECK CONSTRAINT [FK_StudentResponses_Student]
GO
ALTER TABLE [dbo].[StudentSessionLogs]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[TestSessions]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PlacementResults]  WITH CHECK ADD  CONSTRAINT [CHK_AssessmentType] CHECK  (([AssessmentType]='PostAssessment' OR [AssessmentType]='PreAssessment'))
GO
ALTER TABLE [dbo].[PlacementResults] CHECK CONSTRAINT [CHK_AssessmentType]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_GradeLevel] CHECK  (([GradeLevel]>=(1) AND [GradeLevel]<=(12)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_GradeLevel]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckBadgeUnlock]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_CheckBadgeUnlock

-- Uses UnlockCondition field to parse badge requirements

-- Format: "XP:500", "Streak:7", "Games:10", "Lessons:5", "Perfect:3"

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_CheckBadgeUnlock]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @TotalXP INT, @CurrentStreak INT, @LongestStreak INT;

    DECLARE @TotalGames INT, @PerfectGames INT, @TotalLessons INT;

 

    -- Get student stats

    SELECT @TotalXP = ISNULL(TotalXP, 0),

           @CurrentStreak = ISNULL(CurrentStreak, 0),

           @LongestStreak = ISNULL(LongestStreak, 0)

    FROM Students WHERE StudentID = @StudentID;

 

    -- Count completed games

    SELECT @TotalGames = COUNT(*),

           @PerfectGames = SUM(CASE WHEN AccuracyPercentage = 100 THEN 1 ELSE 0 END)

    FROM GameResults WHERE StudentID = @StudentID;

 

    -- Count completed lessons

    SELECT @TotalLessons = COUNT(*)

    FROM StudentProgress

    WHERE StudentID = @StudentID AND CompletionStatus = 'Completed';

 

    -- Find badges to unlock based on UnlockCondition

    INSERT INTO StudentBadges (StudentID, BadgeID, DateEarned)

    SELECT @StudentID, b.BadgeID, GETDATE()

    FROM Badges b

    WHERE b.BadgeID NOT IN (SELECT BadgeID FROM StudentBadges WHERE StudentID = @StudentID)

    AND (

        -- XP-based badges

        (b.UnlockCondition LIKE 'XP:%' AND @TotalXP >= CAST(SUBSTRING(b.UnlockCondition, 4, 10) AS INT))

        -- Streak-based badges

        OR (b.UnlockCondition LIKE 'Streak:%' AND @LongestStreak >= CAST(SUBSTRING(b.UnlockCondition, 8, 10) AS INT))

        -- Games completed badges

        OR (b.UnlockCondition LIKE 'Games:%' AND @TotalGames >= CAST(SUBSTRING(b.UnlockCondition, 7, 10) AS INT))

        -- Lessons completed badges

        OR (b.UnlockCondition LIKE 'Lessons:%' AND @TotalLessons >= CAST(SUBSTRING(b.UnlockCondition, 9, 10) AS INT))

        -- Perfect score badges

        OR (b.UnlockCondition LIKE 'Perfect:%' AND @PerfectGames >= CAST(SUBSTRING(b.UnlockCondition, 9, 10) AS INT))

    );

 

    -- Return newly unlocked badges

    SELECT b.BadgeID, b.BadgeName, b.BadgeDescription, b.BadgeIconURL,

           b.XPReward, b.BadgeCategory, sb.DateEarned

    FROM StudentBadges sb

    JOIN Badges b ON sb.BadgeID = b.BadgeID

    WHERE sb.StudentID = @StudentID

    AND sb.DateEarned >= DATEADD(SECOND, -5, GETDATE());

END

GO
/****** Object:  StoredProcedure [dbo].[SP_CompleteSession]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_CompleteSession

-- Marks a session as complete and updates student ability

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_CompleteSession]

    @SessionID INT,

    @FinalTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @StudentID INT;

 

    -- Get student ID

    SELECT @StudentID = StudentID FROM TestSessions WHERE SessionID = @SessionID;

 

    -- Update session

    UPDATE TestSessions

    SET IsCompleted = 1,

        EndTime = GETDATE(),

        FinalTheta = @FinalTheta

    WHERE SessionID = @SessionID;

 

    -- Update student ability

    UPDATE Students

    SET CurrentAbility = @FinalTheta

    WHERE StudentID = @StudentID;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAdmin]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 2. Stored Procedure: Create Admin User
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CreateAdmin]
    @Username NVARCHAR(50),
    @Email NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Salt NVARCHAR(255);
    DECLARE @PasswordHash NVARCHAR(255);
    
    -- Generate a unique salt (using NEWID)
    SET @Salt = CONVERT(NVARCHAR(255), HASHBYTES('SHA2_256', CAST(NEWID() AS NVARCHAR(36))), 2);
    
    -- Hash the password with the salt
    SET @PasswordHash = CONVERT(NVARCHAR(255), HASHBYTES('SHA2_512', @Password + @Salt), 2);
    
    BEGIN TRY
        INSERT INTO Admins (Username, Email, PasswordHash, Salt)
        VALUES (@Username, @Email, @PasswordHash, @Salt);
        
        SELECT 'Success' AS Status, 'Admin created successfully' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreatePasswordResetOTP]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreatePasswordResetOTP]
    @Email NVARCHAR(100),
    @OTPCode NVARCHAR(6),
    @ExpiryMinutes INT = 10,
    @IPAddress NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if email exists in Students table
    IF NOT EXISTS (SELECT 1 FROM Students WHERE Email = @Email AND IsActive = 1)
    BEGIN
        SELECT -1 AS OTPID, 'Email not found' AS ErrorMessage;
        RETURN;
    END

    -- Invalidate any existing unused OTPs for this email
    UPDATE PasswordResetOTP
    SET IsUsed = 1, UsedAt = GETDATE()
    WHERE Email = @Email AND IsUsed = 0;

    -- Create new OTP
    INSERT INTO PasswordResetOTP (Email, OTPCode, ExpiresAt, IPAddress)
    VALUES (@Email, @OTPCode, DATEADD(MINUTE, @ExpiryMinutes, GETDATE()), @IPAddress);

    -- Return OTP details
    SELECT
        OTPID,
        Email,
        OTPCode,
        CreatedAt,
        ExpiresAt,
        'OTP created successfully' AS Message
    FROM PasswordResetOTP
    WHERE OTPID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTestSession]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateTestSession]
    @StudentID INT,
    @Type NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InitialTheta FLOAT;

    -- Get student's current ability as initial theta
    SELECT @InitialTheta = ISNULL(CurrentAbility, 0.0)
    FROM Students
    WHERE StudentID = @StudentID;

    -- Insert new session
    INSERT INTO TestSessions (StudentID, SessionType, InitialTheta, StartTime, IsCompleted)
    VALUES (@StudentID, @Type, @InitialTheta, GETDATE(), 0);

    -- Return the created session
    SELECT
        SessionID,
        StudentID,
        SessionType,
        InitialTheta,
        StartTime
    FROM TestSessions
    WHERE SessionID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminById]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. Stored Procedure: Get Admin by ID
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetAdminById]
    @AdminID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        AdminID,
        Username,
        Email,
        CreatedDate,
        LastLoginDate,
        IsActive
    FROM Admins
    WHERE AdminID = @AdminID AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetImprovementReport]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetImprovementReport

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetImprovementReport]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @PreTheta FLOAT, @PostTheta FLOAT, @CurrentAbility FLOAT;

    DECLARE @PreDate DATETIME, @PostDate DATETIME;

 

    -- Get pre-assessment result

    SELECT TOP 1 @PreTheta = FinalTheta, @PreDate = EndTime

    FROM TestSessions

    WHERE StudentID = @StudentID AND SessionType = 'PreAssessment' AND IsCompleted = 1

    ORDER BY StartTime ASC;

 

    -- Get latest post-assessment result

    SELECT TOP 1 @PostTheta = FinalTheta, @PostDate = EndTime

    FROM TestSessions

    WHERE StudentID = @StudentID AND SessionType = 'PostAssessment' AND IsCompleted = 1

    ORDER BY StartTime DESC;

 

    -- Get current ability

    SELECT @CurrentAbility = CurrentAbility FROM Students WHERE StudentID = @StudentID;

 

    -- Return improvement report

    SELECT

        @StudentID AS StudentID,

        @PreTheta AS PreAssessmentTheta,

        @PreDate AS PreAssessmentDate,

        @PostTheta AS PostAssessmentTheta,

        @PostDate AS PostAssessmentDate,

        @CurrentAbility AS CurrentAbility,

        (@PostTheta - @PreTheta) AS ThetaImprovement,

        CASE

            WHEN @PostTheta - @PreTheta > 0.5 THEN 'Significant Improvement'

            WHEN @PostTheta - @PreTheta > 0.2 THEN 'Moderate Improvement'

            WHEN @PostTheta - @PreTheta > 0 THEN 'Slight Improvement'

            WHEN @PostTheta - @PreTheta = 0 THEN 'No Change'

            ELSE 'Needs Review'

        END AS ImprovementCategory,

        (SELECT COUNT(*) FROM StudentProgress WHERE StudentID = @StudentID AND CompletionStatus = 'Completed') AS LessonsCompleted,

        (SELECT COUNT(*) FROM GameResults WHERE StudentID = @StudentID) AS GamesPlayed,

        (SELECT ISNULL(SUM(XPEarned), 0) FROM GameResults WHERE StudentID = @StudentID) AS TotalXPFromGames;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetLessonsByAbility]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetLessonsByAbility

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetLessonsByAbility]

    @StudentID INT,

    @AbilityLevel FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    SELECT

        l.LessonID,

        l.LessonTitle,

        l.LessonDescription,

        l.LessonContent,

        l.RequiredAbility,

        l.GradeLevel,

        l.LessonType,

        CASE

            WHEN sp.CompletionStatus = 'Completed' THEN 1

            ELSE 0

        END AS IsCompleted,

        sp.Score AS LastScore,

        sp.AttemptsCount

    FROM Lessons l

    LEFT JOIN StudentProgress sp ON l.LessonID = sp.LessonID AND sp.StudentID = @StudentID

    WHERE l.IsActive = 1

    AND l.RequiredAbility <= @AbilityLevel + 0.5

    ORDER BY l.RequiredAbility ASC, l.GradeLevel ASC;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetNextAdaptiveItem]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetNextAdaptiveItem

-- Returns the next best item based on current theta using Maximum Information

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetNextAdaptiveItem]

    @SessionID INT,

    @CurrentTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Get items not yet answered in this session

    -- Select item with difficulty closest to current theta (simplified max info)

    SELECT TOP 1 i.*

    FROM Items i

    WHERE i.ItemID NOT IN (

        SELECT ItemID FROM Responses WHERE SessionID = @SessionID

    )

    ORDER BY

        -- Prioritize items near current ability for maximum information

        ABS(i.DifficultyParam - @CurrentTheta),

        -- Add randomness for items at similar difficulty

        NEWID();

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetNextAdaptiveQuestion]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 


-- Create updated procedure with ReadingPassage


CREATE PROCEDURE [dbo].[SP_GetNextAdaptiveQuestion]


    @StudentID INT,


    @SessionID INT,


    @CurrentTheta FLOAT,


    @AssessmentType VARCHAR(20),


    @CategoryFilter VARCHAR(50) = NULL


AS


BEGIN


    SET NOCOUNT ON;


 


    -- Get items already shown in this session


    DECLARE @ShownItemIDs TABLE (ItemID INT);


    INSERT INTO @ShownItemIDs


    SELECT ItemID


    FROM dbo.StudentResponses


    WHERE StudentID = @StudentID AND SessionID = @SessionID;


 


    -- Select best next item using Maximum Information criterion


    SELECT TOP 1


        ItemID,


        Category,


        Subcategory,


        SkillArea,


        QuestionText,


        QuestionType,


        ReadingPassage,  -- ← ADDED THIS LINE!


        OptionA,


        OptionB,


        OptionC,


        OptionD,


        CorrectAnswer,


        DifficultyParam,


        DiscriminationParam,


        GuessingParam,


        EstimatedTime,


        -- Calculate information value


        (DiscriminationParam * DiscriminationParam *


         (1 - GuessingParam) * (1 - GuessingParam)) /


         (1 + EXP(1.7 * DiscriminationParam * (DifficultyParam - @CurrentTheta))) AS Information


    FROM dbo.AssessmentItems


    WHERE IsActive = 1


      AND ItemID NOT IN (SELECT ItemID FROM @ShownItemIDs)


      AND (@CategoryFilter IS NULL OR Category = @CategoryFilter)


    ORDER BY


        -- Prioritize items near current theta


        ABS(DifficultyParam - @CurrentTheta) ASC,


        -- Then by information


        Information DESC,


        -- Then by least-used items


        TimesAdministered ASC;


END


 


GO
/****** Object:  StoredProcedure [dbo].[SP_GetPreAssessmentItems]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetPreAssessmentItems

-- Returns 15 random items stratified by difficulty for pre-assessment

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetPreAssessmentItems]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Get 15 items: 3 very easy, 4 easy, 4 medium, 3 hard, 1 very hard

    SELECT * FROM (

        SELECT TOP 3 *, 1 as DiffOrder FROM Items WHERE DifficultyParam < -1.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 4 *, 2 as DiffOrder FROM Items WHERE DifficultyParam >= -1.5 AND DifficultyParam < -0.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 4 *, 3 as DiffOrder FROM Items WHERE DifficultyParam >= -0.5 AND DifficultyParam < 0.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 3 *, 4 as DiffOrder FROM Items WHERE DifficultyParam >= 0.5 AND DifficultyParam < 1.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 1 *, 5 as DiffOrder FROM Items WHERE DifficultyParam >= 1.5 ORDER BY NEWID()

    ) AS CombinedItems

    ORDER BY DiffOrder, NEWID();

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetSentenceScrambleData]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSentenceScrambleData]
    @GradeLevel INT,
    @Count INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Count)
        ItemID,
        ItemText,
        ItemType,
        DifficultyLevel,
        DifficultyParam,
        CorrectAnswer,
        AnswerChoices
    FROM Items
    WHERE IsActive = 1
      AND ItemType = 'Syntax'
      AND GradeLevel <= @GradeLevel + 1
    ORDER BY NEWID();  -- Random selection
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentDashboard]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetStudentDashboard

-- Returns comprehensive student dashboard data

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetStudentDashboard]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Student basic info and stats

    SELECT

        s.StudentID,

        s.FirstName,

        s.LastName,

        s.Email,

        s.CurrentAbility,

        s.TotalXP,

        s.CurrentStreak,

        s.LongestStreak,

        (SELECT COUNT(*) FROM StudentProgress WHERE StudentID = @StudentID AND CompletionStatus = 'Completed') AS LessonsCompleted,

        (SELECT COUNT(*) FROM GameResults WHERE StudentID = @StudentID) AS GamesPlayed,

        (SELECT COUNT(*) FROM StudentBadges WHERE StudentID = @StudentID) AS BadgesEarned,

        (SELECT COUNT(*) FROM TestSessions WHERE StudentID = @StudentID AND SessionType = 'PreAssessment' AND IsCompleted = 1) AS PreAssessmentsDone,

        (SELECT COUNT(*) FROM TestSessions WHERE StudentID = @StudentID AND SessionType = 'PostAssessment' AND IsCompleted = 1) AS PostAssessmentsDone

    FROM Students s

    WHERE s.StudentID = @StudentID;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentProgress]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetStudentProgress]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Student Info
    SELECT * FROM dbo.Students WHERE StudentID = @StudentID;

    -- Assessment Results
    SELECT * FROM dbo.PlacementResults WHERE StudentID = @StudentID ORDER BY CompletedDate DESC;

    -- Session History (last 30 days)
    SELECT TOP 50 * FROM dbo.StudentSessionLogs
    WHERE StudentID = @StudentID AND LoggedAt >= DATEADD(DAY, -30, GETDATE())
    ORDER BY LoggedAt DESC;

    -- Comparison View
    SELECT * FROM dbo.V_AssessmentComparison WHERE StudentID = @StudentID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTimedTrailData]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetTimedTrailData]
    @GradeLevel INT,
    @Count INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Count)
        ItemID,
        ItemText,
        ItemType,
        DifficultyLevel,
        DifficultyParam,
        CorrectAnswer,
        AnswerChoices,
        Phonetic
    FROM Items
    WHERE IsActive = 1
      AND ItemType IN ('Spelling', 'Grammar', 'Pronunciation')
      AND GradeLevel <= @GradeLevel + 1
    ORDER BY NEWID();  
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LogStudentSession]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LogStudentSession]
    @StudentID INT,
    @SessionType VARCHAR(50),
    @SessionTag VARCHAR(100) = NULL,
    @DeviceInfo VARCHAR(255) = NULL,
    @IPAddress VARCHAR(50) = NULL,
    @AdditionalData NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert session log
    INSERT INTO dbo.StudentSessionLogs (StudentID, SessionType, SessionTag, LoggedAt, DeviceInfo, IPAddress, AdditionalData)
    VALUES (@StudentID, @SessionType, @SessionTag, GETDATE(), @DeviceInfo, @IPAddress, @AdditionalData);

    -- Update last login date if it's a login event
    IF @SessionType = 'Login'
    BEGIN
        -- First check if columns exist
        IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS 
                   WHERE TABLE_NAME = 'Students' AND COLUMN_NAME = 'LastLoginDate')
        BEGIN
            UPDATE dbo.Students
            SET LastLoginDate = GETDATE(),
                TotalLoginCount = ISNULL(TotalLoginCount, 0) + 1
            WHERE StudentID = @StudentID;
        END
    END

    -- Return the inserted log ID
    SELECT SCOPE_IDENTITY() AS LogID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RecordPronunciationScore]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RecordPronunciationScore]
    @ResponseID INT, @StudentID INT, @ItemID INT, @RecognizedText NVARCHAR(500),
    @Confidence FLOAT, @OverallAccuracy INT, @PronunciationScore FLOAT = NULL,
    @FluencyScore FLOAT = NULL, @CompletenessScore FLOAT = NULL,
    @PhonemeAccuracyJSON NVARCHAR(MAX) = NULL, @ErrorPhonemes NVARCHAR(500) = NULL,
    @AudioDuration INT = NULL, @AudioQuality FLOAT = NULL, @APIResponseJSON NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.PronunciationScores (ResponseID, StudentID, ItemID, RecognizedText, Confidence, OverallAccuracy, PronunciationScore, FluencyScore, CompletenessScore, PhonemeAccuracyJSON, ErrorPhonemes, AudioDuration, AudioQuality, APIResponseJSON)
    VALUES (@ResponseID, @StudentID, @ItemID, @RecognizedText, @Confidence, @OverallAccuracy, @PronunciationScore, @FluencyScore, @CompletenessScore, @PhonemeAccuracyJSON, @ErrorPhonemes, @AudioDuration, @AudioQuality, @APIResponseJSON);
    SELECT SCOPE_IDENTITY() AS ScoreID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RecordStudentResponse]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RecordStudentResponse]
    @StudentID INT,
    @ItemID INT,
    @SessionID INT,
    @AssessmentType VARCHAR(20),
    @SelectedAnswer NVARCHAR(200),
    @IsCorrect BIT,
    @StudentThetaAtTime FLOAT,
    @ResponseTime INT = NULL,
    @QuestionNumber INT,
    @DeviceInfo VARCHAR(255) = NULL,
    @InteractionData NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @ItemDifficulty FLOAT, @ExpectedProb FLOAT, @Discrimination FLOAT, @Guessing FLOAT;
        SELECT @ItemDifficulty = DifficultyParam, @Discrimination = DiscriminationParam, @Guessing = GuessingParam
        FROM dbo.AssessmentItems WHERE ItemID = @ItemID;
        SET @ExpectedProb = @Guessing + (1 - @Guessing) / (1 + EXP(-1.7 * @Discrimination * (@StudentThetaAtTime - @ItemDifficulty)));
        INSERT INTO dbo.StudentResponses (StudentID, ItemID, SessionID, AssessmentType, SelectedAnswer, IsCorrect, StudentThetaAtTime, ItemDifficulty, ExpectedProbability, ResponseTime, QuestionNumber, DeviceInfo, InteractionData)
        VALUES (@StudentID, @ItemID, @SessionID, @AssessmentType, @SelectedAnswer, @IsCorrect, @StudentThetaAtTime, @ItemDifficulty, @ExpectedProb, @ResponseTime, @QuestionNumber, @DeviceInfo, @InteractionData);
        UPDATE dbo.AssessmentItems SET TimesAdministered = TimesAdministered + 1, TimesCorrect = TimesCorrect + (CASE WHEN @IsCorrect = 1 THEN 1 ELSE 0 END) WHERE ItemID = @ItemID;
        SELECT SCOPE_IDENTITY() AS ResponseID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegisterStudent]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RegisterStudent]
    @Nickname NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Password NVARCHAR(255),
    @Birthday DATE = NULL,
    @Gender NVARCHAR(20) = NULL,
    @GradeLevel INT = 1,
    @SchoolID INT = NULL,
    @Section NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if email already exists
    IF EXISTS (SELECT 1 FROM Students WHERE Email = @Email)
    BEGIN
        -- Return error code
        SELECT -1 AS StudentID, 'Email already registered' AS ErrorMessage;
        RETURN;
    END

    -- Insert new student
    INSERT INTO Students (
        Nickname,
        FirstName,
        LastName,
        Email,
        Password,
        Birthday,
        Gender,
        GradeLevel,
        SchoolID,
        Section,
        InitialAbility,
        CurrentAbility,
        TotalXP,
        CurrentStreak,
        LongestStreak,
        DateCreated,
        LastLogin,
        IsActive,
        ReadingTheta,
        SpeakingTheta,
        VocabularyTheta,
        SyntaxTheta
    )
    VALUES (
        @Nickname,
        @FirstName,
        @LastName,
        @Email,
        @Password,
        @Birthday,
        @Gender,
        @GradeLevel,
        @SchoolID,
        @Section,
        0.0,  -- InitialAbility
        0.0,  -- CurrentAbility
        0,    -- TotalXP
        0,    -- CurrentStreak
        0,    -- LongestStreak
        GETDATE(),
        NULL, -- LastLogin
        1,    -- IsActive
        0.0,  -- ReadingTheta
        0.0,  -- SpeakingTheta
        0.0,  -- VocabularyTheta
        0.0   -- SyntaxTheta
    );

    -- Return new student data
    SELECT
        StudentID,
        Nickname,
        FirstName,
        LastName,
        Email,
        Birthday,
        Gender,
        GradeLevel,
        SchoolID,
        Section,
        CurrentAbility,
        TotalXP,
        CurrentStreak,
        LongestStreak,
        DateCreated,
        IsActive
    FROM Students
    WHERE StudentID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ResetPassword]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ResetPassword]
    @Email NVARCHAR(100),
    @OTPCode NVARCHAR(6),
    @NewPassword NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Verify OTP first
        DECLARE @OTPID INT;
        DECLARE @ExpiresAt DATETIME;

        SELECT TOP 1
            @OTPID = OTPID,
            @ExpiresAt = ExpiresAt
        FROM PasswordResetOTP
        WHERE Email = @Email
            AND OTPCode = @OTPCode
            AND IsUsed = 0
        ORDER BY CreatedAt DESC;

        -- Check if OTP exists
        IF @OTPID IS NULL
        BEGIN
            SELECT 0 AS Success, 'Invalid or already used OTP' AS Message;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Check if OTP is expired
        IF @ExpiresAt < GETDATE()
        BEGIN
            SELECT 0 AS Success, 'OTP has expired' AS Message;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Update password
        UPDATE Students
        SET Password = @NewPassword
        WHERE Email = @Email AND IsActive = 1;

        -- Mark OTP as used
        UPDATE PasswordResetOTP
        SET IsUsed = 1, UsedAt = GETDATE()
        WHERE OTPID = @OTPID;

        COMMIT TRANSACTION;

        SELECT 1 AS Success, 'Password reset successfully' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveGameResult]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update the stored procedure to properly track progress

CREATE   PROCEDURE [dbo].[SP_SaveGameResult]

    @SessionID INT = NULL,

    @StudentID INT,

    @GameType NVARCHAR(50),

    @Score INT,

    @AccuracyPercentage FLOAT = NULL,

    @TimeCompleted INT = NULL,

    @XPEarned INT = 0,

    @StreakAchieved INT = 0,

    @LessonID INT = NULL

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @LastActivity DATE;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    DECLARE @Yesterday DATE = DATEADD(DAY, -1, @Today);

    DECLARE @CurrentStreak INT;

    DECLARE @LongestStreak INT;

    DECLARE @GamesPlayedForLesson INT;

    DECLARE @TotalGamesRequired INT = 5;

    DECLARE @NewStatus NVARCHAR(20);

 

    BEGIN TRY

        BEGIN TRANSACTION;

 

        -- Insert game result

        INSERT INTO GameResults (

            SessionID, StudentID, GameType, Score,

            AccuracyPercentage, TimeCompleted, XPEarned,

            StreakAchieved, LessonID, DatePlayed

        )

        VALUES (

            @SessionID, @StudentID, @GameType, @Score,

            @AccuracyPercentage, @TimeCompleted, @XPEarned,

            @StreakAchieved, @LessonID, GETDATE()

        );

 

        -- Update student's TotalXP

        UPDATE Students

        SET TotalXP = ISNULL(TotalXP, 0) + @XPEarned

        WHERE StudentID = @StudentID;

 

        -- Get current streak info

        SELECT

            @LastActivity = LastActivityDate,

            @CurrentStreak = ISNULL(CurrentStreak, 0),

            @LongestStreak = ISNULL(LongestStreak, 0)

        FROM Students

        WHERE StudentID = @StudentID;

 

        -- Daily streak logic

        IF @LastActivity IS NULL

        BEGIN

            SET @CurrentStreak = 1;

        END

        ELSE IF @LastActivity = @Today

        BEGIN

            SET @CurrentStreak = @CurrentStreak;

        END

        ELSE IF @LastActivity = @Yesterday

        BEGIN

            SET @CurrentStreak = @CurrentStreak + 1;

        END

        ELSE

        BEGIN

            SET @CurrentStreak = 1;

        END

 

        -- Update longest streak if current is higher

        IF @CurrentStreak > @LongestStreak

        BEGIN

            SET @LongestStreak = @CurrentStreak;

        END

 

        -- Update student's streak and last activity date

        UPDATE Students

        SET CurrentStreak = @CurrentStreak,

            LongestStreak = @LongestStreak,

            LastActivityDate = @Today

        WHERE StudentID = @StudentID;

 

        -- Update StudentProgress for this lesson

        IF @LessonID IS NOT NULL AND EXISTS (SELECT * FROM sys.tables WHERE name = 'StudentProgress')

        BEGIN

            -- Count games played for this lesson

            SELECT @GamesPlayedForLesson = COUNT(*)

            FROM GameResults

            WHERE StudentID = @StudentID AND LessonID = @LessonID;

 

            -- Determine status based on games played

            IF @GamesPlayedForLesson >= @TotalGamesRequired

                SET @NewStatus = 'Completed';

            ELSE

                SET @NewStatus = 'InProgress';

 

            IF EXISTS (SELECT 1 FROM StudentProgress WHERE StudentID = @StudentID AND LessonID = @LessonID)

            BEGIN

                UPDATE StudentProgress

                SET Score = CASE WHEN @AccuracyPercentage > ISNULL(Score, 0) THEN @AccuracyPercentage ELSE Score END,

                    CompletionStatus = @NewStatus,

                    LastAttemptDate = GETDATE()

                WHERE StudentID = @StudentID AND LessonID = @LessonID;

            END

            ELSE

            BEGIN

                INSERT INTO StudentProgress (StudentID, LessonID, CompletionStatus, Score, LastAttemptDate)

                VALUES (@StudentID, @LessonID, @NewStatus, @AccuracyPercentage, GETDATE());

            END

        END

 

        COMMIT TRANSACTION;

 

        -- Return updated student stats

        SELECT TotalXP, CurrentStreak, LongestStreak

        FROM Students

        WHERE StudentID = @StudentID;

 

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0

            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[SP_SavePlacementResult]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SavePlacementResult]
    @StudentID INT,
    @SessionID INT,
    @AssessmentType VARCHAR(20),
    @FinalTheta FLOAT,
    @PlacementLevel INT,
    @LevelName VARCHAR(50),
    @TotalQuestions INT,
    @CorrectAnswers INT,
    @AccuracyPercentage FLOAT,
    @Category1Score FLOAT = NULL,
    @Category2Score FLOAT = NULL,
    @Category3Score FLOAT = NULL,
    @Category4Score FLOAT = NULL,
    @Category1Theta FLOAT = NULL,
    @Category2Theta FLOAT = NULL,
    @Category3Theta FLOAT = NULL,
    @Category4Theta FLOAT = NULL,
    @TimeSpentSeconds INT = NULL,
    @DeviceInfo VARCHAR(255) = NULL,
    @AppVersion VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert placement result
        INSERT INTO dbo.PlacementResults (
            StudentID, SessionID, AssessmentType, CompletedDate,
            FinalTheta, PlacementLevel, LevelName, TotalQuestions, CorrectAnswers, AccuracyPercentage,
            Category1Score, Category2Score, Category3Score, Category4Score,
            Category1Theta, Category2Theta, Category3Theta, Category4Theta,
            TimeSpentSeconds, DeviceInfo, AppVersion
        )
        VALUES (
            @StudentID, @SessionID, @AssessmentType, GETDATE(),
            @FinalTheta, @PlacementLevel, @LevelName, @TotalQuestions, @CorrectAnswers, @AccuracyPercentage,
            @Category1Score, @Category2Score, @Category3Score, @Category4Score,
            @Category1Theta, @Category2Theta, @Category3Theta, @Category4Theta,
            @TimeSpentSeconds, @DeviceInfo, @AppVersion
        );

        -- Update Students table based on assessment type
        IF @AssessmentType = 'PreAssessment'
        BEGIN
            UPDATE dbo.Students
            SET PreAssessmentCompleted = 1,
                PreAssessmentDate = GETDATE(),
                PreAssessmentLevel = @PlacementLevel,
                PreAssessmentTheta = @FinalTheta,
                AssessmentStatus = 'Pre-Completed'
            WHERE StudentID = @StudentID;
        END
        ELSE IF @AssessmentType = 'PostAssessment'
        BEGIN
            UPDATE dbo.Students
            SET PostAssessmentCompleted = 1,
                PostAssessmentDate = GETDATE(),
                PostAssessmentLevel = @PlacementLevel,
                PostAssessmentTheta = @FinalTheta,
                AssessmentStatus = 'Post-Completed'
            WHERE StudentID = @StudentID;
        END

        -- Log the assessment completion
        INSERT INTO dbo.StudentSessionLogs (StudentID, SessionType, SessionTag, LoggedAt, DeviceInfo)
        VALUES (@StudentID, 'AssessmentComplete', @AssessmentType, GETDATE(), @DeviceInfo);

        COMMIT TRANSACTION;

        -- Return the saved result
        SELECT TOP 1 * FROM dbo.PlacementResults
        WHERE StudentID = @StudentID AND AssessmentType = @AssessmentType
        ORDER BY ResultID DESC;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveResponses]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_SaveResponses
CREATE PROCEDURE [dbo].[SP_SaveResponses]
    @SessionID INT,
    @Responses NVARCHAR(MAX) -- JSON: [{"ItemID":1,"Response":"A","IsCorrect":1,"TimeSpent":15}]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parse JSON and insert responses
    INSERT INTO Responses (SessionID, ItemID, StudentResponse, IsCorrect, TimeSpent)
    SELECT 
        @SessionID,
        JSON_VALUE(value, '$.ItemID'),
        JSON_VALUE(value, '$.Response'),
        CAST(JSON_VALUE(value, '$.IsCorrect') AS BIT),
        JSON_VALUE(value, '$.TimeSpent')
    FROM OPENJSON(@Responses);
    
    -- Update session stats
    UPDATE TestSessions
    SET 
        TotalQuestions = (SELECT COUNT(*) FROM Responses WHERE SessionID = @SessionID),
        CorrectAnswers = (SELECT COUNT(*) FROM Responses WHERE SessionID = @SessionID AND IsCorrect = 1),
        AccuracyPercentage = (SELECT CAST(COUNT(CASE WHEN IsCorrect = 1 THEN 1 END) AS FLOAT) / COUNT(*) * 100 
                              FROM Responses WHERE SessionID = @SessionID)
    WHERE SessionID = @SessionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_StartPostAssessment]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_StartPostAssessment

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_StartPostAssessment]

    @StudentID INT,

    @SessionID INT OUTPUT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @CurrentAbility FLOAT;

 

    -- Get current ability

    SELECT @CurrentAbility = ISNULL(CurrentAbility, 0.0)

    FROM Students WHERE StudentID = @StudentID;

 

    -- Create post-assessment session

    INSERT INTO TestSessions (StudentID, SessionType, InitialTheta, StartTime, IsCompleted)

    VALUES (@StudentID, 'PostAssessment', @CurrentAbility, GETDATE(), 0);

 

    SET @SessionID = SCOPE_IDENTITY();

 

    -- Return session info

    SELECT @SessionID AS SessionID,

           'PostAssessment' AS SessionType,

           @CurrentAbility AS InitialTheta;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_StudentLogin]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure
CREATE PROCEDURE [dbo].[SP_StudentLogin]
    @Email VARCHAR(255),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate input
    IF @Email IS NULL OR @Email = '' OR @Password IS NULL OR @Password = ''
    BEGIN
        RAISERROR('Email and Password are required', 16, 1);
        RETURN;
    END

    -- Select student data including assessment status
    SELECT
        s.StudentID,
        s.FirstName,
        s.LastName,
        s.Email,
        s.Password,
        s.GradeLevel,
        s.Section,
        s.CurrentAbility,
        s.TotalXP,
        s.CurrentStreak,
        s.LongestStreak,
        s.LastLoginDate as LastLogin,
        s.Nickname,
        -- Assessment tracking fields
        ISNULL(s.PreAssessmentCompleted, 0) as PreAssessmentCompleted,
        ISNULL(s.AssessmentStatus, 'Not Started') as AssessmentStatus,
        s.PreAssessmentDate,
        s.PreAssessmentLevel,
        s.PreAssessmentTheta,
        s.PostAssessmentCompleted,
        s.PostAssessmentDate,
        s.PostAssessmentLevel,
        s.PostAssessmentTheta
    FROM
        dbo.Students s
    WHERE
        s.Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLessonProgress]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_UpdateLessonProgress

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_UpdateLessonProgress]

    @StudentID INT,

    @LessonID INT,

    @Score INT,

    @CompletionStatus NVARCHAR(50)

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Check if progress record exists

    IF EXISTS (SELECT 1 FROM StudentProgress WHERE StudentID = @StudentID AND LessonID = @LessonID)

    BEGIN

        -- Update existing record

        UPDATE StudentProgress

        SET Score = @Score,

            CompletionStatus = @CompletionStatus,

            AttemptsCount = AttemptsCount + 1,

            LastAttemptDate = GETDATE(),

            CompletionDate = CASE WHEN @CompletionStatus = 'Completed' THEN GETDATE() ELSE CompletionDate END

        WHERE StudentID = @StudentID AND LessonID = @LessonID;

    END

    ELSE

    BEGIN

        -- Insert new record

        INSERT INTO StudentProgress (StudentID, LessonID, Score, CompletionStatus, AttemptsCount, LastAttemptDate, CompletionDate)

        VALUES (@StudentID, @LessonID, @Score, @CompletionStatus, 1, GETDATE(),

                CASE WHEN @CompletionStatus = 'Completed' THEN GETDATE() ELSE NULL END);

    END

END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudentAbility]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LiteRise Stored Procedures

-- All procedures corrected based on actual table structures

 

-- =============================================================================

-- SP_UpdateStudentAbility

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_UpdateStudentAbility]

    @StudentID INT,

    @NewTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    UPDATE Students

    SET CurrentAbility = @NewTheta

    WHERE StudentID = @StudentID;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateLogin]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. Stored Procedure: Validate Login
-- =============================================
CREATE   PROCEDURE [dbo].[sp_ValidateLogin]
    @Username NVARCHAR(50),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @AdminID INT;
    DECLARE @StoredPasswordHash NVARCHAR(255);
    DECLARE @Salt NVARCHAR(255);
    DECLARE @ComputedHash NVARCHAR(255);
    DECLARE @IsActive BIT;
    DECLARE @FailedAttempts INT;
    DECLARE @LockoutEnd DATETIME;
    
    -- Get admin details
    SELECT 
        @AdminID = AdminID,
        @StoredPasswordHash = PasswordHash,
        @Salt = Salt,
        @IsActive = IsActive,
        @FailedAttempts = FailedLoginAttempts,
        @LockoutEnd = LockoutEnd
    FROM Admins
    WHERE Username = @Username;
    
    -- Check if user exists
    IF @AdminID IS NULL
    BEGIN
        SELECT 
            'Error' AS Status, 
            'Invalid username or password' AS Message,
            NULL AS AdminID,
            NULL AS Username,
            NULL AS Email;
        RETURN;
    END
    
    -- Check if account is locked
    IF @LockoutEnd IS NOT NULL AND @LockoutEnd > GETDATE()
    BEGIN
        SELECT 
            'Locked' AS Status, 
            'Account is locked. Please try again later.' AS Message,
            NULL AS AdminID,
            NULL AS Username,
            NULL AS Email;
        RETURN;
    END
    
    -- Check if account is active
    IF @IsActive = 0
    BEGIN
        SELECT 
            'Inactive' AS Status, 
            'Account is inactive. Please contact support.' AS Message,
            NULL AS AdminID,
            NULL AS Username,
            NULL AS Email;
        RETURN;
    END
    
    -- Compute hash with provided password
    SET @ComputedHash = CONVERT(NVARCHAR(255), HASHBYTES('SHA2_512', @Password + @Salt), 2);
    
    -- Verify password
    IF @ComputedHash = @StoredPasswordHash
    BEGIN
        -- Successful login
        UPDATE Admins
        SET 
            LastLoginDate = GETDATE(),
            FailedLoginAttempts = 0,
            LockoutEnd = NULL
        WHERE AdminID = @AdminID;
        
        SELECT 
            'Success' AS Status,
            'Login successful' AS Message,
            AdminID,
            Username,
            Email
        FROM Admins
        WHERE AdminID = @AdminID;
    END
    ELSE
    BEGIN
        -- Failed login
        SET @FailedAttempts = @FailedAttempts + 1;
        
        -- Lock account after 5 failed attempts
        IF @FailedAttempts >= 5
        BEGIN
            UPDATE Admins
            SET 
                FailedLoginAttempts = @FailedAttempts,
                LockoutEnd = DATEADD(MINUTE, 15, GETDATE())
            WHERE AdminID = @AdminID;
            
            SELECT 
                'Locked' AS Status,
                'Too many failed attempts. Account locked for 15 minutes.' AS Message,
                NULL AS AdminID,
                NULL AS Username,
                NULL AS Email;
        END
        ELSE
        BEGIN
            UPDATE Admins
            SET FailedLoginAttempts = @FailedAttempts
            WHERE AdminID = @AdminID;
            
            SELECT 
                'Error' AS Status,
                'Invalid username or password' AS Message,
                NULL AS AdminID,
                NULL AS Username,
                NULL AS Email;
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerifyPasswordResetOTP]    Script Date: 18/01/2026 2:45:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VerifyPasswordResetOTP]
    @Email NVARCHAR(100),
    @OTPCode NVARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;

    -- Find valid OTP
    DECLARE @OTPID INT;
    DECLARE @ExpiresAt DATETIME;

    SELECT TOP 1
        @OTPID = OTPID,
        @ExpiresAt = ExpiresAt
    FROM PasswordResetOTP
    WHERE Email = @Email
        AND OTPCode = @OTPCode
        AND IsUsed = 0
    ORDER BY CreatedAt DESC;

    -- Check if OTP exists
    IF @OTPID IS NULL
    BEGIN
        SELECT 0 AS IsValid, 'Invalid or already used OTP' AS Message;
        RETURN;
    END

    -- Check if OTP is expired
    IF @ExpiresAt < GETDATE()
    BEGIN
        SELECT 0 AS IsValid, 'OTP has expired' AS Message;
        RETURN;
    END

    -- OTP is valid
    SELECT 1 AS IsValid, @OTPID AS OTPID, 'OTP verified successfully' AS Message;
END
GO
USE [master]
GO
