USE [LiteRiseDB]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ActivityType] [nvarchar](100) NULL,
	[ActivityDetails] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[BadgeID] [int] IDENTITY(1,1) NOT NULL,
	[BadgeName] [nvarchar](100) NOT NULL,
	[BadgeDescription] [nvarchar](500) NULL,
	[BadgeIconURL] [nvarchar](500) NULL,
	[UnlockCondition] [nvarchar](500) NULL,
	[XPReward] [int] NULL,
	[BadgeCategory] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[GameResultID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[StudentID] [int] NULL,
	[GameType] [nvarchar](50) NOT NULL,
	[Score] [int] NOT NULL,
	[AccuracyPercentage] [float] NULL,
	[TimeCompleted] [int] NULL,
	[XPEarned] [int] NULL,
	[StreakAchieved] [int] NULL,
	[DatePlayed] [datetime] NULL,
	[LessonID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemText] [nvarchar](500) NOT NULL,
	[ItemType] [nvarchar](50) NOT NULL,
	[DifficultyLevel] [nvarchar](20) NOT NULL,
	[DifficultyParam] [float] NOT NULL,
	[DiscriminationParam] [float] NOT NULL,
	[GuessingParam] [float] NOT NULL,
	[CorrectAnswer] [nvarchar](255) NOT NULL,
	[AnswerChoices] [nvarchar](max) NULL,
	[Phonetic] [nvarchar](100) NULL,
	[Definition] [nvarchar](500) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[AudioURL] [nvarchar](255) NULL,
	[GradeLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonGameContent]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonGameContent](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[GameType] [nvarchar](50) NOT NULL,
	[ContentText] [nvarchar](500) NOT NULL,
	[ContentData] [nvarchar](max) NULL,
	[Difficulty] [float] NULL,
	[Category] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](200) NOT NULL,
	[LessonDescription] [nvarchar](max) NULL,
	[LessonContent] [nvarchar](max) NULL,
	[RequiredAbility] [float] NULL,
	[GradeLevel] [int] NOT NULL,
	[LessonType] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PronunciationAttempts]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronunciationAttempts](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ExpectedWord] [nvarchar](255) NOT NULL,
	[RecognizedText] [nvarchar](255) NOT NULL,
	[Score] [int] NOT NULL,
	[AttemptDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PronunciationRecords]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronunciationRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[StudentID] [int] NULL,
	[Word] [nvarchar](200) NOT NULL,
	[ExpectedPronunciation] [nvarchar](500) NULL,
	[ActualPronunciation] [nvarchar](500) NULL,
	[AccuracyScore] [float] NULL,
	[FluencyScore] [float] NULL,
	[AudioURL] [nvarchar](500) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[ItemID] [int] NULL,
	[StudentResponse] [nvarchar](500) NULL,
	[IsCorrect] [bit] NOT NULL,
	[TimeSpent] [int] NULL,
	[ThetaBeforeResponse] [float] NULL,
	[ThetaAfterResponse] [float] NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBadges]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBadges](
	[StudentBadgeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[BadgeID] [int] NULL,
	[DateEarned] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentBadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[BadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProgress]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[LessonID] [int] NULL,
	[CompletionStatus] [nvarchar](20) NULL,
	[Score] [float] NULL,
	[AttemptsCount] [int] NULL,
	[LastAttemptDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[GradeLevel] [int] NOT NULL,
	[Section] [nvarchar](20) NULL,
	[InitialAbility] [float] NULL,
	[CurrentAbility] [float] NULL,
	[TotalXP] [int] NULL,
	[CurrentStreak] [int] NULL,
	[LongestStreak] [int] NULL,
	[DateCreated] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ReadingTheta] [float] NULL,
	[SpeakingTheta] [float] NULL,
	[VocabularyTheta] [float] NULL,
	[SyntaxTheta] [float] NULL,
	[LastActivityDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSessions]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SessionType] [nvarchar](50) NOT NULL,
	[InitialTheta] [float] NULL,
	[FinalTheta] [float] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TotalQuestions] [int] NULL,
	[CorrectAnswers] [int] NULL,
	[AccuracyPercentage] [float] NULL,
	[IsCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VocabularyWords]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VocabularyWords](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Definition] [nvarchar](500) NOT NULL,
	[ExampleSentence] [nvarchar](500) NULL,
	[Difficulty] [float] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[GradeLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Badges] ADD  DEFAULT ((0)) FOR [XPReward]
GO
ALTER TABLE [dbo].[GameResults] ADD  DEFAULT (getdate()) FOR [DatePlayed]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1.0)) FOR [DiscriminationParam]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0.25)) FOR [GuessingParam]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT ((1.0)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LessonGameContent] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PronunciationAttempts] ADD  DEFAULT (getdate()) FOR [AttemptDate]
GO
ALTER TABLE [dbo].[PronunciationRecords] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Responses] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[StudentBadges] ADD  DEFAULT (getdate()) FOR [DateEarned]
GO
ALTER TABLE [dbo].[StudentProgress] ADD  DEFAULT ((0)) FOR [AttemptsCount]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [InitialAbility]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.0)) FOR [CurrentAbility]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [TotalXP]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [CurrentStreak]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [LongestStreak]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [ReadingTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [SpeakingTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [VocabularyTheta]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [SyntaxTheta]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [TotalQuestions]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [CorrectAnswers]
GO
ALTER TABLE [dbo].[TestSessions] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((0.5)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((4)) FOR [GradeLevel]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VocabularyWords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[GameResults]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[GameResults]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[LessonGameContent]  WITH CHECK ADD  CONSTRAINT [FK_LessonGameContent_Lessons] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[LessonGameContent] CHECK CONSTRAINT [FK_LessonGameContent_Lessons]
GO
ALTER TABLE [dbo].[PronunciationAttempts]  WITH CHECK ADD  CONSTRAINT [FK_PronunciationAttempts_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[PronunciationAttempts] CHECK CONSTRAINT [FK_PronunciationAttempts_Students]
GO
ALTER TABLE [dbo].[PronunciationRecords]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[PronunciationRecords]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[TestSessions] ([SessionID])
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD FOREIGN KEY([BadgeID])
REFERENCES [dbo].[Badges] ([BadgeID])
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[TestSessions]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([GradeLevel]>=(4) AND [GradeLevel]<=(6)))
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckBadgeUnlock]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_CheckBadgeUnlock

-- Uses UnlockCondition field to parse badge requirements

-- Format: "XP:500", "Streak:7", "Games:10", "Lessons:5", "Perfect:3"

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_CheckBadgeUnlock]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @TotalXP INT, @CurrentStreak INT, @LongestStreak INT;

    DECLARE @TotalGames INT, @PerfectGames INT, @TotalLessons INT;

 

    -- Get student stats

    SELECT @TotalXP = ISNULL(TotalXP, 0),

           @CurrentStreak = ISNULL(CurrentStreak, 0),

           @LongestStreak = ISNULL(LongestStreak, 0)

    FROM Students WHERE StudentID = @StudentID;

 

    -- Count completed games

    SELECT @TotalGames = COUNT(*),

           @PerfectGames = SUM(CASE WHEN AccuracyPercentage = 100 THEN 1 ELSE 0 END)

    FROM GameResults WHERE StudentID = @StudentID;

 

    -- Count completed lessons

    SELECT @TotalLessons = COUNT(*)

    FROM StudentProgress

    WHERE StudentID = @StudentID AND CompletionStatus = 'Completed';

 

    -- Find badges to unlock based on UnlockCondition

    INSERT INTO StudentBadges (StudentID, BadgeID, DateEarned)

    SELECT @StudentID, b.BadgeID, GETDATE()

    FROM Badges b

    WHERE b.BadgeID NOT IN (SELECT BadgeID FROM StudentBadges WHERE StudentID = @StudentID)

    AND (

        -- XP-based badges

        (b.UnlockCondition LIKE 'XP:%' AND @TotalXP >= CAST(SUBSTRING(b.UnlockCondition, 4, 10) AS INT))

        -- Streak-based badges

        OR (b.UnlockCondition LIKE 'Streak:%' AND @LongestStreak >= CAST(SUBSTRING(b.UnlockCondition, 8, 10) AS INT))

        -- Games completed badges

        OR (b.UnlockCondition LIKE 'Games:%' AND @TotalGames >= CAST(SUBSTRING(b.UnlockCondition, 7, 10) AS INT))

        -- Lessons completed badges

        OR (b.UnlockCondition LIKE 'Lessons:%' AND @TotalLessons >= CAST(SUBSTRING(b.UnlockCondition, 9, 10) AS INT))

        -- Perfect score badges

        OR (b.UnlockCondition LIKE 'Perfect:%' AND @PerfectGames >= CAST(SUBSTRING(b.UnlockCondition, 9, 10) AS INT))

    );

 

    -- Return newly unlocked badges

    SELECT b.BadgeID, b.BadgeName, b.BadgeDescription, b.BadgeIconURL,

           b.XPReward, b.BadgeCategory, sb.DateEarned

    FROM StudentBadges sb

    JOIN Badges b ON sb.BadgeID = b.BadgeID

    WHERE sb.StudentID = @StudentID

    AND sb.DateEarned >= DATEADD(SECOND, -5, GETDATE());

END

GO
/****** Object:  StoredProcedure [dbo].[SP_CompleteSession]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_CompleteSession

-- Marks a session as complete and updates student ability

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_CompleteSession]

    @SessionID INT,

    @FinalTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @StudentID INT;

 

    -- Get student ID

    SELECT @StudentID = StudentID FROM TestSessions WHERE SessionID = @SessionID;

 

    -- Update session

    UPDATE TestSessions

    SET IsCompleted = 1,

        EndTime = GETDATE(),

        FinalTheta = @FinalTheta

    WHERE SessionID = @SessionID;

 

    -- Update student ability

    UPDATE Students

    SET CurrentAbility = @FinalTheta

    WHERE StudentID = @StudentID;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTestSession]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateTestSession]
    @StudentID INT,
    @Type NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InitialTheta FLOAT;

    -- Get student's current ability as initial theta
    SELECT @InitialTheta = ISNULL(CurrentAbility, 0.0)
    FROM Students
    WHERE StudentID = @StudentID;

    -- Insert new session
    INSERT INTO TestSessions (StudentID, SessionType, InitialTheta, StartTime, IsCompleted)
    VALUES (@StudentID, @Type, @InitialTheta, GETDATE(), 0);

    -- Return the created session
    SELECT
        SessionID,
        StudentID,
        SessionType,
        InitialTheta,
        StartTime
    FROM TestSessions
    WHERE SessionID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetImprovementReport]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetImprovementReport

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetImprovementReport]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @PreTheta FLOAT, @PostTheta FLOAT, @CurrentAbility FLOAT;

    DECLARE @PreDate DATETIME, @PostDate DATETIME;

 

    -- Get pre-assessment result

    SELECT TOP 1 @PreTheta = FinalTheta, @PreDate = EndTime

    FROM TestSessions

    WHERE StudentID = @StudentID AND SessionType = 'PreAssessment' AND IsCompleted = 1

    ORDER BY StartTime ASC;

 

    -- Get latest post-assessment result

    SELECT TOP 1 @PostTheta = FinalTheta, @PostDate = EndTime

    FROM TestSessions

    WHERE StudentID = @StudentID AND SessionType = 'PostAssessment' AND IsCompleted = 1

    ORDER BY StartTime DESC;

 

    -- Get current ability

    SELECT @CurrentAbility = CurrentAbility FROM Students WHERE StudentID = @StudentID;

 

    -- Return improvement report

    SELECT

        @StudentID AS StudentID,

        @PreTheta AS PreAssessmentTheta,

        @PreDate AS PreAssessmentDate,

        @PostTheta AS PostAssessmentTheta,

        @PostDate AS PostAssessmentDate,

        @CurrentAbility AS CurrentAbility,

        (@PostTheta - @PreTheta) AS ThetaImprovement,

        CASE

            WHEN @PostTheta - @PreTheta > 0.5 THEN 'Significant Improvement'

            WHEN @PostTheta - @PreTheta > 0.2 THEN 'Moderate Improvement'

            WHEN @PostTheta - @PreTheta > 0 THEN 'Slight Improvement'

            WHEN @PostTheta - @PreTheta = 0 THEN 'No Change'

            ELSE 'Needs Review'

        END AS ImprovementCategory,

        (SELECT COUNT(*) FROM StudentProgress WHERE StudentID = @StudentID AND CompletionStatus = 'Completed') AS LessonsCompleted,

        (SELECT COUNT(*) FROM GameResults WHERE StudentID = @StudentID) AS GamesPlayed,

        (SELECT ISNULL(SUM(XPEarned), 0) FROM GameResults WHERE StudentID = @StudentID) AS TotalXPFromGames;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetLessonsByAbility]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetLessonsByAbility

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetLessonsByAbility]

    @StudentID INT,

    @AbilityLevel FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    SELECT

        l.LessonID,

        l.LessonTitle,

        l.LessonDescription,

        l.LessonContent,

        l.RequiredAbility,

        l.GradeLevel,

        l.LessonType,

        CASE

            WHEN sp.CompletionStatus = 'Completed' THEN 1

            ELSE 0

        END AS IsCompleted,

        sp.Score AS LastScore,

        sp.AttemptsCount

    FROM Lessons l

    LEFT JOIN StudentProgress sp ON l.LessonID = sp.LessonID AND sp.StudentID = @StudentID

    WHERE l.IsActive = 1

    AND l.RequiredAbility <= @AbilityLevel + 0.5

    ORDER BY l.RequiredAbility ASC, l.GradeLevel ASC;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetNextAdaptiveItem]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetNextAdaptiveItem

-- Returns the next best item based on current theta using Maximum Information

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetNextAdaptiveItem]

    @SessionID INT,

    @CurrentTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Get items not yet answered in this session

    -- Select item with difficulty closest to current theta (simplified max info)

    SELECT TOP 1 i.*

    FROM Items i

    WHERE i.ItemID NOT IN (

        SELECT ItemID FROM Responses WHERE SessionID = @SessionID

    )

    ORDER BY

        -- Prioritize items near current ability for maximum information

        ABS(i.DifficultyParam - @CurrentTheta),

        -- Add randomness for items at similar difficulty

        NEWID();

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetPreAssessmentItems]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetPreAssessmentItems

-- Returns 15 random items stratified by difficulty for pre-assessment

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetPreAssessmentItems]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Get 15 items: 3 very easy, 4 easy, 4 medium, 3 hard, 1 very hard

    SELECT * FROM (

        SELECT TOP 3 *, 1 as DiffOrder FROM Items WHERE DifficultyParam < -1.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 4 *, 2 as DiffOrder FROM Items WHERE DifficultyParam >= -1.5 AND DifficultyParam < -0.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 4 *, 3 as DiffOrder FROM Items WHERE DifficultyParam >= -0.5 AND DifficultyParam < 0.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 3 *, 4 as DiffOrder FROM Items WHERE DifficultyParam >= 0.5 AND DifficultyParam < 1.5 ORDER BY NEWID()

        UNION ALL

        SELECT TOP 1 *, 5 as DiffOrder FROM Items WHERE DifficultyParam >= 1.5 ORDER BY NEWID()

    ) AS CombinedItems

    ORDER BY DiffOrder, NEWID();

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetSentenceScrambleData]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSentenceScrambleData]
    @GradeLevel INT,
    @Count INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Count)
        ItemID,
        ItemText,
        ItemType,
        DifficultyLevel,
        DifficultyParam,
        CorrectAnswer,
        AnswerChoices
    FROM Items
    WHERE IsActive = 1
      AND ItemType = 'Syntax'
      AND GradeLevel <= @GradeLevel + 1
    ORDER BY NEWID();  -- Random selection
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentDashboard]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetStudentDashboard

-- Returns comprehensive student dashboard data

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetStudentDashboard]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Student basic info and stats

    SELECT

        s.StudentID,

        s.FirstName,

        s.LastName,

        s.Email,

        s.CurrentAbility,

        s.TotalXP,

        s.CurrentStreak,

        s.LongestStreak,

        (SELECT COUNT(*) FROM StudentProgress WHERE StudentID = @StudentID AND CompletionStatus = 'Completed') AS LessonsCompleted,

        (SELECT COUNT(*) FROM GameResults WHERE StudentID = @StudentID) AS GamesPlayed,

        (SELECT COUNT(*) FROM StudentBadges WHERE StudentID = @StudentID) AS BadgesEarned,

        (SELECT COUNT(*) FROM TestSessions WHERE StudentID = @StudentID AND SessionType = 'PreAssessment' AND IsCompleted = 1) AS PreAssessmentsDone,

        (SELECT COUNT(*) FROM TestSessions WHERE StudentID = @StudentID AND SessionType = 'PostAssessment' AND IsCompleted = 1) AS PostAssessmentsDone

    FROM Students s

    WHERE s.StudentID = @StudentID;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentProgress]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_GetStudentProgress

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_GetStudentProgress]

    @StudentID INT

AS

BEGIN

    SET NOCOUNT ON;

 

    SELECT

        sp.ProgressID,

        sp.LessonID,

        l.LessonTitle,

        l.LessonDescription,

        l.LessonType,

        l.GradeLevel,

        sp.CompletionStatus,

        sp.Score,

        sp.AttemptsCount,

        sp.LastAttemptDate,

        sp.CompletionDate

    FROM StudentProgress sp

    JOIN Lessons l ON sp.LessonID = l.LessonID

    WHERE sp.StudentID = @StudentID

    ORDER BY sp.LastAttemptDate DESC;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetTimedTrailData]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetTimedTrailData]
    @GradeLevel INT,
    @Count INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Count)
        ItemID,
        ItemText,
        ItemType,
        DifficultyLevel,
        DifficultyParam,
        CorrectAnswer,
        AnswerChoices,
        Phonetic
    FROM Items
    WHERE IsActive = 1
      AND ItemType IN ('Spelling', 'Grammar', 'Pronunciation')
      AND GradeLevel <= @GradeLevel + 1
    ORDER BY NEWID();  -- Random selection
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveGameResult]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update the stored procedure to properly track progress

CREATE   PROCEDURE [dbo].[SP_SaveGameResult]

    @SessionID INT = NULL,

    @StudentID INT,

    @GameType NVARCHAR(50),

    @Score INT,

    @AccuracyPercentage FLOAT = NULL,

    @TimeCompleted INT = NULL,

    @XPEarned INT = 0,

    @StreakAchieved INT = 0,

    @LessonID INT = NULL

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @LastActivity DATE;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    DECLARE @Yesterday DATE = DATEADD(DAY, -1, @Today);

    DECLARE @CurrentStreak INT;

    DECLARE @LongestStreak INT;

    DECLARE @GamesPlayedForLesson INT;

    DECLARE @TotalGamesRequired INT = 5;

    DECLARE @NewStatus NVARCHAR(20);

 

    BEGIN TRY

        BEGIN TRANSACTION;

 

        -- Insert game result

        INSERT INTO GameResults (

            SessionID, StudentID, GameType, Score,

            AccuracyPercentage, TimeCompleted, XPEarned,

            StreakAchieved, LessonID, DatePlayed

        )

        VALUES (

            @SessionID, @StudentID, @GameType, @Score,

            @AccuracyPercentage, @TimeCompleted, @XPEarned,

            @StreakAchieved, @LessonID, GETDATE()

        );

 

        -- Update student's TotalXP

        UPDATE Students

        SET TotalXP = ISNULL(TotalXP, 0) + @XPEarned

        WHERE StudentID = @StudentID;

 

        -- Get current streak info

        SELECT

            @LastActivity = LastActivityDate,

            @CurrentStreak = ISNULL(CurrentStreak, 0),

            @LongestStreak = ISNULL(LongestStreak, 0)

        FROM Students

        WHERE StudentID = @StudentID;

 

        -- Daily streak logic

        IF @LastActivity IS NULL

        BEGIN

            SET @CurrentStreak = 1;

        END

        ELSE IF @LastActivity = @Today

        BEGIN

            SET @CurrentStreak = @CurrentStreak;

        END

        ELSE IF @LastActivity = @Yesterday

        BEGIN

            SET @CurrentStreak = @CurrentStreak + 1;

        END

        ELSE

        BEGIN

            SET @CurrentStreak = 1;

        END

 

        -- Update longest streak if current is higher

        IF @CurrentStreak > @LongestStreak

        BEGIN

            SET @LongestStreak = @CurrentStreak;

        END

 

        -- Update student's streak and last activity date

        UPDATE Students

        SET CurrentStreak = @CurrentStreak,

            LongestStreak = @LongestStreak,

            LastActivityDate = @Today

        WHERE StudentID = @StudentID;

 

        -- Update StudentProgress for this lesson

        IF @LessonID IS NOT NULL AND EXISTS (SELECT * FROM sys.tables WHERE name = 'StudentProgress')

        BEGIN

            -- Count games played for this lesson

            SELECT @GamesPlayedForLesson = COUNT(*)

            FROM GameResults

            WHERE StudentID = @StudentID AND LessonID = @LessonID;

 

            -- Determine status based on games played

            IF @GamesPlayedForLesson >= @TotalGamesRequired

                SET @NewStatus = 'Completed';

            ELSE

                SET @NewStatus = 'InProgress';

 

            IF EXISTS (SELECT 1 FROM StudentProgress WHERE StudentID = @StudentID AND LessonID = @LessonID)

            BEGIN

                UPDATE StudentProgress

                SET Score = CASE WHEN @AccuracyPercentage > ISNULL(Score, 0) THEN @AccuracyPercentage ELSE Score END,

                    CompletionStatus = @NewStatus,

                    LastAttemptDate = GETDATE()

                WHERE StudentID = @StudentID AND LessonID = @LessonID;

            END

            ELSE

            BEGIN

                INSERT INTO StudentProgress (StudentID, LessonID, CompletionStatus, Score, LastAttemptDate)

                VALUES (@StudentID, @LessonID, @NewStatus, @AccuracyPercentage, GETDATE());

            END

        END

 

        COMMIT TRANSACTION;

 

        -- Return updated student stats

        SELECT TotalXP, CurrentStreak, LongestStreak

        FROM Students

        WHERE StudentID = @StudentID;

 

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0

            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[SP_SaveResponses]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_SaveResponses
CREATE PROCEDURE [dbo].[SP_SaveResponses]
    @SessionID INT,
    @Responses NVARCHAR(MAX) -- JSON: [{"ItemID":1,"Response":"A","IsCorrect":1,"TimeSpent":15}]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parse JSON and insert responses
    INSERT INTO Responses (SessionID, ItemID, StudentResponse, IsCorrect, TimeSpent)
    SELECT 
        @SessionID,
        JSON_VALUE(value, '$.ItemID'),
        JSON_VALUE(value, '$.Response'),
        CAST(JSON_VALUE(value, '$.IsCorrect') AS BIT),
        JSON_VALUE(value, '$.TimeSpent')
    FROM OPENJSON(@Responses);
    
    -- Update session stats
    UPDATE TestSessions
    SET 
        TotalQuestions = (SELECT COUNT(*) FROM Responses WHERE SessionID = @SessionID),
        CorrectAnswers = (SELECT COUNT(*) FROM Responses WHERE SessionID = @SessionID AND IsCorrect = 1),
        AccuracyPercentage = (SELECT CAST(COUNT(CASE WHEN IsCorrect = 1 THEN 1 END) AS FLOAT) / COUNT(*) * 100 
                              FROM Responses WHERE SessionID = @SessionID)
    WHERE SessionID = @SessionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_StartPostAssessment]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_StartPostAssessment

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_StartPostAssessment]

    @StudentID INT,

    @SessionID INT OUTPUT

AS

BEGIN

    SET NOCOUNT ON;

 

    DECLARE @CurrentAbility FLOAT;

 

    -- Get current ability

    SELECT @CurrentAbility = ISNULL(CurrentAbility, 0.0)

    FROM Students WHERE StudentID = @StudentID;

 

    -- Create post-assessment session

    INSERT INTO TestSessions (StudentID, SessionType, InitialTheta, StartTime, IsCompleted)

    VALUES (@StudentID, 'PostAssessment', @CurrentAbility, GETDATE(), 0);

 

    SET @SessionID = SCOPE_IDENTITY();

 

    -- Return session info

    SELECT @SessionID AS SessionID,

           'PostAssessment' AS SessionType,

           @CurrentAbility AS InitialTheta;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_StudentLogin]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_StudentLogin]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)  -- Not used here, verified in PHP
AS
BEGIN
    SET NOCOUNT ON;

    -- Return student data (password verification done in PHP with bcrypt)
    SELECT
        StudentID,
        FirstName,
        LastName,
        Email,
        Password,
        GradeLevel,
        Section,
        CurrentAbility,
        TotalXP,
        CurrentStreak,
        LongestStreak,
        LastLogin
    FROM Students
    WHERE Email = @Email AND IsActive = 1;

    -- Update last login time
    UPDATE Students
    SET LastLogin = GETDATE()
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLessonProgress]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================================================

-- SP_UpdateLessonProgress

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_UpdateLessonProgress]

    @StudentID INT,

    @LessonID INT,

    @Score INT,

    @CompletionStatus NVARCHAR(50)

AS

BEGIN

    SET NOCOUNT ON;

 

    -- Check if progress record exists

    IF EXISTS (SELECT 1 FROM StudentProgress WHERE StudentID = @StudentID AND LessonID = @LessonID)

    BEGIN

        -- Update existing record

        UPDATE StudentProgress

        SET Score = @Score,

            CompletionStatus = @CompletionStatus,

            AttemptsCount = AttemptsCount + 1,

            LastAttemptDate = GETDATE(),

            CompletionDate = CASE WHEN @CompletionStatus = 'Completed' THEN GETDATE() ELSE CompletionDate END

        WHERE StudentID = @StudentID AND LessonID = @LessonID;

    END

    ELSE

    BEGIN

        -- Insert new record

        INSERT INTO StudentProgress (StudentID, LessonID, Score, CompletionStatus, AttemptsCount, LastAttemptDate, CompletionDate)

        VALUES (@StudentID, @LessonID, @Score, @CompletionStatus, 1, GETDATE(),

                CASE WHEN @CompletionStatus = 'Completed' THEN GETDATE() ELSE NULL END);

    END

END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudentAbility]    Script Date: 28/11/2025 5:03:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LiteRise Stored Procedures

-- All procedures corrected based on actual table structures

 

-- =============================================================================

-- SP_UpdateStudentAbility

-- =============================================================================

CREATE   PROCEDURE [dbo].[SP_UpdateStudentAbility]

    @StudentID INT,

    @NewTheta FLOAT

AS

BEGIN

    SET NOCOUNT ON;

 

    UPDATE Students

    SET CurrentAbility = @NewTheta

    WHERE StudentID = @StudentID;

END

GO
